*{
    background-color: blue;
}

.Mp4{
    margin-top: 300px; 
    margin-left: 80px;     
    position: relative;
    width: 800px;
}

.video{   
    
    border: 5px solid black;
    width: 600px;
    padding: 40px;
    height: 300px;       
}

.DownloadMp4{
    border: 2px solid black;
    height: 35x;
    width: 688px;
    bottom: 30px;
    top: 50px;
   
}

.Operaions{
    margin-bottom: 5px;

}

#DownloadMP4{
    
}



#PlayMP3{
    margin-left: 600px;
    width: 30px;
    height: 30px;
    

}



#Description{
   margin-left: 900px;   
   position: absolute;
   width: 50px;
   bottom: 200px;     
}

.MP3{
    border: 2px solid black;
    height: 30x;
    width: 688px;
    margin-top: 100px;  
    position: relative;
}

.TextMp3{
    position: relative;
    margin-top: 140px;
}

.ControlsMP3{
    position: relative;
    margin-bottom: 120px;
}

.MP3 h5{    
    
}


#btn{
    margin-left: 1200px;
    bottom: 1000px;
    position: relative;
}

#Author{
    color: red;
    
   
}

#Singer{
    color: red;
    
}

#MusicComposer{
    color: red;
    
}

#ReleasedYear{
    color: red;
    
}

