<router-outlet>
<p>song-page works!</p>

<div  class="Mp4">
    <!--Video with downloading options and qualities-->
    <div class="video">
        <h3 ></h3>
    </div>
    <div class="DownloadMp4">
        <div class="Operaions">
        <img src="Playbtn.png" id="PlayMP3">
        <img src="downloadIcon.png" id="DownloadMP4">
    </div>
    </div>

    <div class="MP3">
        <div class="TextMp3">
        <h5>MP3</h5>
        </div>
        <div class="ControlsMP3">
        <input type="image" src="Playbtn.png" name="submit" alt="submit" >
        <input type="button" onclick="myFunction2()">


        <img src="downloadIcon.png" id="DownloadMP3">

        </div>
    </div>



</div>
<form id="btn">
    <!--<input type="button" value="Enter" onclick="MyFunction()">-->
    <button (click)="CallMyFunction()">Enter</button>

</form>

<form id="btn2">
  <input type="button" value="Retrieve" onclick="Retrieve()">
</form>

<div id="Description">
    <!--Details ->  Author, singer, music composer, released year-->
    <h4>Details</h4>
    <h5 id="Author1">Author :</h5><h5 id="Author"></h5>
    <h5>Singer: </h5><h5 id="Singer"></h5>
    <h5>Music composer: </h5><h5 id="MusicComposer"></h5>
    <h5>Released year</h5> <h5 id="ReleasedYear"></h5>
    <h5 id="vid"></h5>
</div>

<h1 id="DT">Hello</h1>




<div class="Mp3">

</div>

<!--From mp3-> Play button  Download button-->


</router-outlet>





