<div class="Home">
  <header>
    <div class="heady">
        <h1>Music Spot</h1>
    </div>

  </header>

   <!--Search Bar--> <!--Shows the availability and shows the search results on the home page-->
   <form id="form">
      <input type="search" id="MusicSearchId" name="MusicSearch" placeholder="Find your melody...">
  </form>

  <!--Some pop music files-->
  <div class="Music">

       <!--Pop Music--> <!--Goes to specific page-->
      <div class="PopT">
      <h5>Pop Music</h5>
      </div>


          <img src='https://pyxis.nymag.com/v1/imgs/3a3/b1f/2141226b8ab1ae07afe4b541ee0d2b0825-11-yic-pop-essay.rsocial.w1200.jpg' id="Pop1">
          <div class="DisPop">
            <!--<button (click)="redirect('song-page')">Discover</button>-->
            <nav>
              <ul>
                <li>
                  <a routerLink="/song-page-component" routerLinkActive="active" ariaCurrentWhenActive="page">Discover</a>
                </li>
              </ul>
            </nav>

          </div>



  <!--Classical Music--> <!--Goes to specific page-->
  <div class="ClassicalT">
  <h5>Classical Music</h5>
  </div>

  <!--Some Classical music files-->
  <div class="ClassicalI">
          <img src='https://www.musicnotes.com/images2/promos/store/900x520_piano_classical2-min.jpg' id="CM1">
          <div class="DisClass">
            <h3>Discover</h3>
          </div>
  </div>

  <!-- Hip hop--> <!--Goes to specific page-->
  <div class="HipHopT">
  <h5>Hip Hop Music</h5>
  </div>

  <!--Some Hip hop music files-->
  <div class="HipHopI">
          <img src='https://www.wikihow.com/images/thumb/a/ad/Become-a-Hip-Hop-Music-Producer-Step-1-Version-2.jpg/v4-460px-Become-a-Hip-Hop-Music-Producer-Step-1-Version-2.jpg' id="HHM1">
          <div class="DisHip">
            <h3>Discover</h3>
          </div>
  </div>

  <!--Asian Music--> <!--Goes to specific page-->
  <div class="AsianT">
  <h5>Discover Asian Music</h5>
  </div>


  <!--Some asian Music files-->
  <div class="AsianI">
          <img src='https://i.ytimg.com/vi/3FvkraRMEko/maxresdefault.jpg' id="AM1">
          <div class="DisAsian">
            <h3>Discover</h3>
          </div>
  </div>
  </div>




  </div>
